* {
  box-sizing: border-box;
}

.paper {
  max-width: 400px;
  margin: 20px auto;
}

@media (max-width: 400px) {
  .paper {
    margin: 0;
    width: 100%;
  }
}

.tab-container {
  padding: 20px !important;
}

.card-content {
  padding: 0 16px !important;
}

.text-input {
  display: block !important;
}

.search-icon {
  margin-top: 27px !important;
}

.edit-button {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  min-width: 36px !important;
}

.edit-button__link {
  display: block;
  padding-top: 5px;
}

.station-card {
  position: relative !important;
}

.button-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.bar {
  height: 48px;
  line-height: 48px;
}

.bar__text {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.header {
  position: relative;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.header__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.header__item {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.header__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: block;
}

.header__link:hover {
  background-color: #eee;
}

.header__link:active {
  color: inherit;
  background-color: #ddd;
}

.header__link--active {
  background-color: #e9e9e9;
}